/* Fira Sans */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.Content {
  margin-top: 5px;
}

.NavContainer {
  top: 0;
  position: sticky;
  nav {
    background-color: lightblue;
    width: 100%;
    ul {
      display: flex;
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      padding: 0 !important;
      margin: 0 !important;
      .NavigationItem {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        font-family: 'Fira Sans', sans-serif;
        font-size: 17px;
        a {
          color: #212121;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          margin: 2px 5px;
          border-radius: 10px;
          padding: 9px;
          &:hover {
            background-color: lightgreen;
            &:nth-child(2) {
              background-color: lightgoldenrodyellow;
            }
            &:nth-child(3) {
              background-color: lightsalmon;
            }
          }
          border: 2px solid lightgreen;
          &:nth-child(2) {
            border: 1px solid lightgoldenrodyellow;
          }
          &:nth-child(3) {
            border: 1px solid lightsalmon;
          }
        }
      }
      .NavClose {
        width: 10%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: lightcoral;
        }
      }
    }
  }
}

.active {
  &:hover {
    background-color: hotpink;
  }
}
